.div_head{
            /*top right bottom leff*/
    padding: 25px 0px 0px 400px ;
}
.body_copy{
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    z-index: 2;
}

#h_1{
    font-style: italic;
    font-size: 20pt;
}

ul{
    color: cyan;
}


h1:hover{
    color: blue;
}

.div_back{
    background-color: lightskyblue;
    padding: 5px;
    z-index: 1;
    display: flex;
    color: darkred;
    justify-content: center;

}

.div_back a{
    font-size: 20px;
    margin: 0 15px;
}


.body_copy p{
    color: indigo;
    padding: 0px 60px;
    font-size: 20px;
}

.flex-conteiner{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    background-color: bisque;
    border: 3px solid navy;
    padding: 10px;

}
.flex-conteiner div{
    z-index: 0;
}

.flex-conteiner h1{
    padding-top: 5%;
    font-size: 40px;
    color: darkgreen;
}

.flex-conteiner img{
    width: 20%;
    height: auto;
}

.flex-book{
    padding: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.flex-book img{
    height:400px;
    width: 300px;
}

.flex-link{
    display: flex;
    justify-content: center;
}

.flex-link iframe{
    padding: 20px;
    height:400px;
    width: 400px;
    border:0;
}

.div_foot{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    padding: 20px;
    background-color: bisque;
    margin: 0px 5px 0px 5px;
    
}

.div_foot h1{
    font-size: 15pt;
    color: black;
    font-family: Comic Sans MS;
}

.div_foot img{
    height:100px;
    width: 100px;
}

.table_plot{
    display: flex;
    justify-content: center;
    
}
.table_plot table{
    border: dotted red;
    font-size: 15pt;
}

.consulta{
    border: 10px transparent;
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.consulta dt{
    display: flex;
    justify-content:left;
    color: blue;
}

.consulta dd{
    display: flex;
    justify-content:right;
    color: red;
}
